# ignore .zip files
*.zip

# ignore directory named PreviousWork
PreviousWork/

# ignore .gitignore file itself
.gitignore

# Ignore the entire Vite/Electron app folder
App/

# Python virtual environments
venv/
.venv/
env/
.ENV/